INSTALL
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
test-driver

tests
*.trs

Makefile
Makefile.in

.deps
.libs

*.o
*.a
*.lo
*.la
